src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="bookmyshow-config" api="resource::bd6d90ca-f811-4b7b-872c-8e8a6d03157c:bookmyshow:1.2.0:raml:zip:bookmyshow.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="bookmyshow-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bookmyshow-config" />
    </flow>
    <flow name="bookmyshow-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bookmyshow-config" />
    </flow>
    <flow name="delete:\order:bookmyshow-config">
		<flow-ref doc:name="Cancel Order" doc:id="339f7bbb-6d13-4a9f-ae35-3f9ed53b514f" name="cancelTicketFlow"/>
    </flow>
    <flow name="get:\movies:bookmyshow-config">
		<flow-ref doc:name="Get all Movies" doc:id="54983769-c679-421a-903b-ca7b5429eca4" name="getmovies"/>
    </flow>
    <flow name="get:\offers:bookmyshow-config">
		<flow-ref doc:name="Get offers" doc:id="c51c4782-66fd-4b37-86ea-3c028c89f3fe" name="offersFlow"/>
    </flow>
    <flow name="get:\order:bookmyshow-config">
		<flow-ref doc:name="Get Orders" doc:id="41e710b7-9af5-45cd-b297-e57eca69261b" name="getOrderDetails"/>
    </flow>
    <flow name="get:\theater:bookmyshow-config">
		<flow-ref doc:name="Get all theaters" doc:id="3c4561c8-878b-42da-981e-5acfb2a10ccd" name="getTheater"/>
    </flow>
    <flow name="get:\movies\(movie_id):bookmyshow-config">
		<flow-ref doc:name="Get Movies by ID" doc:id="162f9a6c-336e-46ab-88b8-b0aed10e4094" name="getSpecificMovie"/>
    </flow>
    <flow name="get:\theater\(theater_id):bookmyshow-config">
		<flow-ref doc:name="Get Theater by ID" doc:id="9cc510eb-7537-4e43-b496-23a3d1edea73" name="getSpecificTheater"/>
    </flow>
    <flow name="post:\order:application\json:bookmyshow-config">
		<flow-ref doc:name="Add Order Flow" doc:id="72d6abef-7bfd-476d-ab10-78d4da0c7d35" name="addOrderFlow"/>
    </flow>
</mule>
